<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>RTL8111Pref</string>
	<key>CFBundleIdentifier</key>
	<string>com.insanelymac.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RTL8111 Preferences</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MODULE_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>RTLN</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>NSMainNibFile</key>
	<string>RTL8111Pref</string>
	<key>NSPrefPaneIconFile</key>
	<string>RTL8111Pref.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>RTL8111Pref</string>
	<key>NSPrincipalClass</key>
	<string>RTL8111Pref</string>
</dict>
</plist>
